.createproduct-total {
    background-image: url('https://github.com/lynnettenguyen/happily/blob/main/react-app/src/components/CSS/Images/new_shop.jpg?raw=true');
    color: white;
   

}

.edit-product-errors {
    color: red
}
