nav {
  width: auto;
  max-width: 94rem;
  margin: 0 auto;
}

.navBar-main {
  box-sizing: border-box;
  min-height: 100px;
  margin: 0 auto;
  width: 100%;
}

.navBar-outer {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.navBar-link {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.logo {
  /* left: 62px; */
  height: 60px;
  width: auto;
  margin-top: 0;
}

.navBar-link-icon {
  display: flex;
  align-items: center;
  padding: 0 10px 5px;
  border-radius: 50%;
}

.navBar-link-icon:hover,
.navBar-link-profile:hover,
.sign-in:hover {
  background-color: rgba(128, 128, 128, 0.095);
  cursor: pointer;
}

.navBar-link-profile {
  display: flex;
  align-items: center;
  padding: 0 10px 5px;
  margin-top: -5px;
  margin-left: 10px;
  border-radius: 35%;
}

.navBar-featured-outer {
  display: flex;
  justify-content: center;
  font-family: GraphikLight, Arial, Helvetica, sans-serif;
  font-size: 0.83rem;
  box-sizing: border-box;
  align-items: center;
  width: 1450px;
  letter-spacing: 0.03rem;
}

.navBar-feature, .navBar-feature-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding: 0.5rem 0 1.09rem;
  margin: 0 1.5rem;
  white-space: nowrap;
}

.navBar-feature-active {
  border-bottom: 1px solid black;
}

.navBar-feature:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
